{% extends 'admin/admindashboard.html' %}
{% load static %}

    {% block innercontent %}
    <section class="pt-3">
        <div class="container">
            {% block form %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class=" form-outline mb-4">
              <input name="product_name" type="text" placeholder="Product_Name" id="prod_name" onkeyup="validateProdname()" class="border-success form-control form-control-lg" />
              <span id=prod_name-error></span>
            </div>
            <div class="form-outline mb-4">
              <input name="product_price" type="text" placeholder="Product_Price" id="prod_price" onkeyup="validateProdprice()" class="border-success form-control form-control-lg" />
              <span id=prod_price-error></span>
            </div>
            <div class="form-outline mb-4">
              <textarea  cols="30" rows="10" style="height: 10rem;" name="product_description" type="text" onkeyup="validateDesc()" placeholder="Product_Description" id="prod_desc" class="border-success form-control  form-control-lg"></textarea>
            <span id=prod_desc-error></span>
          </div>
            <div class="form-outline mb-4">
              <input name="product_qty" type="number" placeholder="Product_Qty" id="prod_qty" onkeyup="validateQty()" class="border-success form-control form-control-lg" />
            <span id=prod_qty-error></span>
          </div>
            <div class="form-outline mb-4">
                <label class="container" for="prod_categ" placeholder="">Select Category</label>
                <select class="border-success form-control form-control-lg" name="product_category" placeholder="category" id="prod_categ">
                    {% for category in category_list %}
                    <option value="{{category.id}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class=" form-outline mb-4">
              <label class="container" for="form3Example90" placeholder="">Add Product Images</label>
              <input name="product_image" type="file"   id="prod_img" onchange="validateImg()" class="  " accept="image/*"/>
            <div>
              <span id=prod_img-error></span>
            </div>
          </div>
            <div class="form-outline mb-4">
              <label class="container" for="form3Example91" placeholder="">Add More Product Images</label>
              <input name="product_images" type="file" multiple  id="form3Example91" class="  "  accept="image/*"/>
            </div>
              <div class="">
              <button type="submit" class="btn btn-dark btn-lg ms-2">Upload</button>
            </div>  
            </form>
                {% endblock %}

        </div>
    </section>
    {% endblock %}

    {% block lowerBodyScript %}
<script>
  var prod_nameError = document.getElementById('prod_name-error');
  var prod_priceError = document.getElementById('prod_price-error');
  var prod_descError = document.getElementById('prod_desc-error');
  var prod_qtyError = document.getElementById('prod_qty-error');
  var prod_imgError = document.getElementById('prod_img-error');
  
  function validateProdname(){
    var prod_name = document.getElementById('prod_name').value.trim();
    if (prod_name.length==0 || prod_name.length<3) {
      prod_nameError.innerHTML='Enter min 3 characters';
      prod_nameError.style.color='black'
      return false;
  }

  if (!prod_name.match(/^[A-Za-z0-9]*$/)){
    prod_nameError.innerHTML='Write Correct Name';
    prod_nameError.style.color='black'
      return false;
  }
  
  prod_nameError.innerHTML='Name is valid';
  prod_nameError.style.color='green'
  return true;
  } 
  function validateProdprice(){
    var prod_price = document.getElementById('prod_price').value;
    if(prod_price.match(/^[0-9.]+$/))
        {
          prod_priceError.innerHTML='Price is valid';
          prod_priceError.style.color='green'
            return true;
        }

        else{
            prod_priceError.innerHTML ='Only Positive Numbers are to be entered';
            prod_priceError.style.color='black'
            return false;
        }
  }
  function validateDesc(){
    var prod_desc = document.getElementById('prod_desc').value;
    if (prod_desc.length==0) {
      prod_descError.innerHTML='This field is Required';
      prod_descError.style.color='black'
      return false;
    }
    else{
      prod_descError.innerHTML='Description is valid';
      prod_descError.style.color='green'
      return true;
    }
  }
  function validateQty(){
    var prod_qty = document.getElementById('prod_qty').value;
    if(prod_qty.match(/^[0-9.]+$/))
        {
          prod_qtyError.innerHTML='Price is valid';
          prod_qtyError.style.color='green'
            return true;
        }

      else{
          prod_qtyError.innerHTML ='Only Positive Numbers are to be entered';
          prod_qtyError.style.color='black'
          return false;
        }
  }
  
  function validateImg(){
    var prod_img = document.getElementById('prod_img').value;
    console.log("Fayas",prod_img)
    if(prod_img.length==0)
        {
          prod_imgError.innerHTML='Image is required';
          prod_imgError.style.color='black'
          return false;
        }

      else{
          prod_imgError.innerHTML ='Image is valid';
          prod_imgError.style.color='green'
          return true;
        }
  }
</script>


<!-- validation submit -->
<script type="text/javascript">var jQuery_1_7_1 = $.noConflict(true);</script>

<script>
    jQuery_1_7_1(document).on("submit", "form", function (e) {
      validateProdname()
      validateProdprice()
      validateDesc()
      validateQty()
      validateImg()
      if (validateProdname() && validateProdprice() && validateDesc() && validateQty() && validateImg() ) {
         
      } else {
          e.preventDefault();
      console.log("Fayas")
      swal.fire('Invalid data! Ensure You have entered correct data');
          return true;
      }
  });
</script>
{% endblock %}