{% extends 'admin/admindashboard.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block add %}
<!-- Add Coupon modal -->
<div class=" modal fade coupon_add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="card modal-dialog  modal-md">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Add Coupon</h4>
    </div>
    <div class=" modal-content">
      <div class="rounded  container">
        <form id="addForm" class="" action="" method="POST">
          {% csrf_token %}
          <div class="pt-3 form-outline mb-4">
            <input name="coupon_code" type="text" placeholder="Coupon Code" id="form3Example90" class="border-dark form-control form-control-lg" />
          </div>
          <div class="pt-2 form-outline mb-4">
            <label class="container" for="start_date">Start Date</label>
            <input name="start_date" type="date" placeholder="Start Date" id="start_date" onchange="validateSdate()" onclick="changeStart()" class="border-dark form-control form-control-lg" />
            <span id=start_date-error></span>
          </div>
          <div class="pt-2 form-outline mb-4">
            <label class="container" for="expiry_date">Expiry Date</label>
            <input name="end_date" type="date" placeholder="Expiry Date" id="expiry_date" onchange="validateEdate()" onclick="changeEnd()" class="border-dark form-control form-control-lg" />
            <span id=expiry_date-error></span>
          </div>
          <div class="pt-2 form-outline mb-4">
            <label class="container" for="dis_amnt">Add Discount Amount</label>
            <input name="dis_amnt" id="dis_amnt" type="number" placeholder="Discount Amount"  onkeyup="validatedis_amnt()" class="border-dark form-control form-control-lg" />
              <span id=dis_amnt-error></span>
            </div>
          <div class="pt-2 form-outline mb-4">
            <label class="container" for="min_amnt">Add Minimum Amount</label>
            <input name="min_amnt" id="min_amnt" type="text" placeholder="Minimum Amount" value=0 onkeyup="validateMin_amnt()" class="border-dark form-control form-control-lg" />
            <span id=min_amnt-error></span>
          </div>
          <div class="pb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-dark btn-md ">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal ends -->
<li class="d-flex justify-content-center align-items-center nav-item">
  <a data-toggle="modal" data-target=".coupon_add" style="text-decoration: none;" href=""><button type="submit"
      class="btn btn-sm btn-outline-light my-2 my-sm-0">Add Coupon</button></a>
</li>
{% endblock %}
{% block innercontent %}
<section class="pt-3">
  <div class="container-fluid">

    <!-- Table starts here -->
    <div style="overflow-x:scroll;">
      <table id="product_table" class=" table table-striped">
        <thead class="col-md-12 col-12 text-light bg-dark">
          <tr>
            <th scope="col">Coupon</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Discount Amount</th>
            <th scope="col">Minimum Amount</th>
            <th scope="col">Block/Un-Block</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for coupon in coupons %}
          <!--Block Modal start-->
          <div class="modal fade" id="blockmodal{{coupon.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header d-flex justify-content-center">
                {% if coupon.active %}
                  <h5 class="modal-title " id="">Sure You want to Block {{coupon.code}}</h5>
                  {% else %}
                  <h5 class="modal-title " id="">Sure You want to Un-Block {{coupon.code}}</h5>
                  {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'block_coupon' coupon.id %}"><button type="button"
                    class="btn btn-primary">Confirm</button></a>
              </div>
            </div>
          </div>
          </div>
          <!--Block Modal Ends -->

          <!--Edit Modal start-->
          <div class="modal fade" id="editmodal{{coupon.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                  <h5 class="modal-title " id="">Sure You want to Edit {{coupon.code}}</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="{% url 'edit_coupon' coupon.id %}"><button type="button"
                      class="btn btn-primary">Confirm</button></a>
                </div>
              </div>
            </div>
          </div>
          <!--Edit Modal Ends -->

          <!--Delete Modal start-->
          <div class="modal fade" id="deletemodal{{coupon.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                  <h5 class="modal-title " id="">Sure You want to Delete {{coupon.code}}<img style="height: 40px;"
                      src="" alt=""></h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="{% url 'delete_coupon' coupon.id %}"><button type="button"
                      class="btn btn-primary">Confirm</button></a>
                </div>
              </div>
            </div>
          </div>
          <!--Delete Modal Ends -->


          <tr>
            <td>{{coupon.code}}</td>
            <td>{{coupon.valid_from}}</td>
            <td>{{coupon.valid_to}}</td>
            <td>{{coupon.discount_amnt}}</td>
            <td>{{coupon.min_amnt}}</td>
            <td class="d-flex justify-content-center">
              {% if coupon.active %}
              <a data-toggle="modal" href="#blockmodal{{coupon.id}}"><i class="fa-solid fa-lock"></i></a>
              <!--  <i class="fa fa-check" aria-hidden="true"></i> -->
              {% else %}
              <a data-toggle="modal" href="#blockmodal{{coupon.id}}"><i class="fa-solid fa-lock-open"></i></a>
              <!-- <i class="fa-sharp fa-solid fa-ban"></i> -->
              {% endif %}
            </td>
            <td>
              <div class="d-flex ">
                <!-- <button type="button" data-toggle="modal" data-target="#blockmodal{{coupon.id}}" class=" btn btn-sm btn-outline-secondary">Delete</button> -->
                <!-- &nbsp;<button type="button" data-toggle="modal" data-target="#editmodal{{coupon.id}}" class="pl-4 pr-4 btn btn-sm btn-outline-secondary">Edit</button> -->
                <!-- &nbsp;<button type="button" data-toggle="modal" data-target="#deletemodal{{coupon.id}}" class=" btn btn-sm btn-outline-secondary">Delete</button> -->
                <a data-toggle="modal" class="text-dark btn" href="#editmodal{{coupon.id}}"><i class="fa fa-pencil"></i></a>
                <a data-toggle="modal" data-target="#deletemodal{{coupon.id}}" class="text-dark btn" href=""><i class="fa fa-trash-o"></i></a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Table ends here -->

  </div>


</section>


{% endblock %}

{% block lowerBodyScript %}
<script>
  function changeStart() {
    let today = new Date()
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    }
    if (mm < 10) {
      mm = '0' + mm;
    }
    today = yyyy + '-' + mm + '-' + dd;
    start = document.getElementById('start_date').value
    console.log(start)
    dd = new Date(start).getDate() + 1;
    mm = new Date(start).getMonth() + 1;
    if (dd < 10) {
      dd = '0' + dd;
    }
    if (mm < 10) {
      mm = '0' + mm;
    }
    yyyy = new Date(start).getFullYear();
    date = yyyy + '-' + mm + '-' + dd;
    document.getElementById('start_date').setAttribute("min", today);
    
    
  }

  function validateSdate(){
    var start = document.getElementById('start_date').value;
    var start_dateError = document.getElementById('start_date-error');
    console.log(start)
        if(start.match(/^[0-9/-]+$/))
          {
            start_dateError.innerHTML='Date is valid';
            start_dateError.style.color='green'
              return true;
          }
          else{
            start_dateError.innerHTML='Date is not valid';
            start_dateError.style.color='black'
              return false;
          }
  }
  function validateEdate(){
    var end = document.getElementById('expiry_date').value;
    var expiry_dateError = document.getElementById('expiry_date-error');
        if(end.match(/^[0-9/-]+$/))
          {
            expiry_dateError.innerHTML='Date is valid';
            expiry_dateError.style.color='green'
              return true;
          }
          else{
            expiry_dateError.innerHTML='Date is not valid';
            expiry_dateError.style.color='black'
              return false;
          }
  }

  function changeEnd() {
    start = document.getElementById('start_date').value
    document.getElementById('expiry_date').setAttribute("min", start);
    return true;
  }

  function validatedis_amnt(){
  var dis_amntError = document.getElementById('dis_amnt-error');
    var dis_amnt = document.getElementById('dis_amnt').value;
    if(dis_amnt.match(/^[0-9]+$/))
        {
          if(dis_amnt < 10){
            dis_amntError.innerHTML='Discount should be greater than 10';
            dis_amntError.style.color='black'
              return false;  
          }
          dis_amntError.innerHTML='Price is valid';
          dis_amntError.style.color='green'
            return true;
        }
      else{
          dis_amntError.innerHTML ='Only Positive Numbers are to be entered';
          dis_amntError.style.color='black'
          return false;
        }
  }
  
  function validateMin_amnt(){
    var min_amntError = document.getElementById('min_amnt-error');
      var min_amnt = document.getElementById('min_amnt').value;
      
      if(min_amnt.length == 0){
        min_amntError.innerHTML='Enter atleast zero Amount';
        min_amntError.style.color='black'
        return false;
      }
      else if(min_amnt.match(/^[0-9]+$/))
          {
            min_amntError.innerHTML='Amount is valid';
            min_amntError.style.color='green'
              return true;
          }
        else{
            min_amntError.innerHTML ='Only Positive Numbers are to be entered';
            min_amntError.style.color='black'
            return false;
          }
    }
  $('#addForm').submit(function(e){
    e.preventDefault();                             //This is used to prevent window from submitting the form
    validatedis_amnt() 
    validateSdate()
    validateEdate()
    validateMin_amnt()
    if ( validatedis_amnt() && validateSdate() && validateEdate() && validateMin_amnt()) {
      $(this).unbind('submit').submit()             //This is used to undo preventDefault
    } else {
    e.preventDefault();
    swal.fire('Invalid data! Ensure You have entered correct data');
    }
});
</script>


{% endblock %}