{% extends 'admin/admindashboard.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block add %}

{% endblock %}
{% block innercontent %}
<section class="pt-3">
  <div class="container-fluid">

    <!-- Table starts here -->
    <div style="overflow-x:auto;width: 100%;">
      <table id="order_table" class=" table table-striped" style="width: 100%;">
        <thead class="col-md-12 col-12 text-light bg-dark">
          <tr>
            <th scope="col">Ordered Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount(₹)</th>
            <th scope="col">Product</th>
            <th scope="col">Qty</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Order Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr class=" ">
            <td>{{order.ordered_date}}</td>
            <td>{{order.user.username}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.product.product_name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.method}}</td>
            <td>
              <form action="" method="">
                {% csrf_token %}
                <select type="submit" onchange="status('{{order.id}}',this.value)"
                  class="custom-select border-success custom-select-lg" name="prod_categ" id="prod_categ">
                  <option value="{{order.status}}" selected>{{order.status}}</option>
                {% if order.status == 'Order Placed' %}
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Cancel</option>
                {% elif order.status == 'Shipped' %}
                <option value="Out For Delivery">Out For Delivery</option>
                <option value="Delivered">Delivered</option>
                {% elif order.status == 'Out For Delivery' %}
                <option value="Delivered">Delivered</option>
                {% else %}

                {% endif %}
                </select>
              </form>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Table ends here -->

  </div>

</section>


{% endblock %}

{% block lowerBodyScript %}
<script>
  //Order status fn
  function status(orderid, stats) {
    // var token = $("input[name='csrfmiddlewaretoken']").val()
    console.log("FAYAS", orderid)
    Swal.fire({
      title: 'Order Status!',
      text: 'Do you want to change the status of the order',
      icon: 'question',
      showConfirmButton: true,
      confirmButtonText: 'change status',
      showCancelButton: true,
    }).then((result) => {
      if (result.isConfirmed){            //checks whether we have confirmed for status change
        $.ajax({
          type: "GET",
          data: {
            "orderid": orderid,
            "stats": stats,
          },
          url: "status_update",
          success: function (response) {
            //swal.fire(response.status)
          }
        });
      }
      else{
        location.reload()
      }
    })
    console.log("result=")
    console.log("swal.response=")
  }
  //Order status fn end

  //datatable start
  $(document).ready(function () {
    $('#order_table').DataTable({
      order: [[0, 'desc']],
    });
  });
  //datatable end

</script>
{% endblock %}