{% extends 'admin/admindashboard.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block add %}

{% endblock %}
{% block innercontent %}
<section class="pt-3">
  <div class="container-fluid">



    <!-- Table starts here -->
    <div style="overflow-x:auto;width: 100%;">
      <table  id="order_table"  class=" table table-striped" style="width: 100%;">
        <thead class="col-md-12 col-12 text-light bg-dark">
          <tr>
            <th scope="col">Ordered Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount(₹)</th>
            <th scope="col">Product</th>
            <th scope="col">Qty</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Order Status</th>
            
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}


          <tr class=" ">
            <td >{{order.ordered_date}}</td>
            <td>{{order.user.username}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.product.product_name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.method}}</td>
            <td>
              <form action="" method="">
                {% csrf_token %}
              <select type="submit" onchange="status('{{order.id}}',this.value)" class="custom-select border-success custom-select-lg" name="prod_categ" id="prod_categ">
                {% for c in choice %}
                {% if c == order.status %}
                <option value="{{order.status}}"  selected>{{order.status}}</option>
                {% else %}
                <option  value="{{c}}">{{c}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </form>
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Table ends here -->

  </div>

</section>


{% endblock %}

{% block lowerBodyScript %}
<script>
  function status(orderid, stats) {
   // var token = $("input[name='csrfmiddlewaretoken']").val()
    console.log("FAYAS",orderid)
      $.ajax({
          type: "GET",
          data: {
            "orderid": orderid,
            "stats": stats,
          },
          url: "status_update",
          success: function (response) {
          swal(response.status)
          }
      });
  }
</script>

<script>
  $(document).ready( function () {
    $('#order_table').DataTable();
} );
</script>
{% endblock %}