{% extends 'admin/admindashboard.html' %}
{% load static %}

{% block style %}
<!-- salesreport -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- salesreport -->
{% endblock %}

{%block innercontent%}

  <nav class="navbar mb-4 mt-3 d-flex justify-content-center">
      <div class="">
        <h2>Sales Report</h2>
      </div>
  </nav>

    <div class="container ">
      <div class="row mb-3">
        <div class="p-3 card col-md-12">
        <form action="{% url 'salesreport' %}" method="POST" class="d-flex ">
          {% csrf_token %}
          <div class="col-md-4">
            <label class="" for="start">Start Date</label>
            <input name="start" type="date" class="form-control mb-2" id="start" >
          </div>
          <div class="col-md-4">
            <label class="" for="end">End Date</label>
            <input name="end" type="date" class="form-control mb-2" id="end" >
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-center">
              <button type="submit" class="btn btn-lg btn-secondary ">Filter</button>
          </div>
        </form>
      </div>
      </div>
      <div class="row">
      <div class="p-3 mb-5 col-md-6 col-6 card">
        <form action="{% url 'yearly_sales' %}" method="POST" class="">
          {% csrf_token %}
          <div class="">
              <label class="d-flex justify-content-center" for="inlineFormInput"><h5>Yearly Sales</h5></label>
              <input name="year" type="number" min="2020" id="inlineFormInput" class="form-control mb-2" max="2025" step="1" value="2022" />
            </div>
              <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-secondary mb-2">Submit</button>
            </div>
        </form>
      </div>
      <div class="p-3 mb-5 col-md-6 col-6 card">
        <form action="{% url 'monthly_sales' %}" method="POST" class="">
          {% csrf_token %}
          <div class="">
              <label class="d-flex justify-content-center" for="month"><h5>Monthly Sales</h5></label>
              <input name="month" type="month" value="2022-01" class="form-control mb-2" id="month" >
            </div>
              <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-secondary mb-2">Submit</button>
            </div>
        </form>
      </div>
    </div>
    </div>

  <!--Table Begning-->
  <section >
    <div class="container">
      {% for message in messages  %}
      <p class="font-weight-bold">{{message}}</p>
      {% endfor %}
    </div>
    <div class="container">
      <div class="row justify-content-center">
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <table class="table" id="myTable" >
              <thead class="thead-primary ">
                <tr class="align-items-center">
                  <th>Order ID</th>
                  <th>Order Date</th>
                  <th>Customer</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Payment Method</th>
                </tr>
              </thead>
              <tbody class="text-start">
                {%for o in orders%}
                <tr class="alert" role="alert">
                  <td>{{o.id}}</td>
                  <td>{{o.ordered_date.date}}</td>
                  <td>{{o.user.first_name}}</td>
                  <td>{{o.product.product_name}}</td>
                  <td>{{o.quantity}}</td>
                  <td>₹ {{o.get_final_price}}</td>
                  <td>{{o.method}}</td>
                </tr>
                {%endfor%}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}

{%block lowerBodyScript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable( {
      order: [[1, 'desc']],
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{%endblock%}