{% extends 'index.html' %}
{% load static %}

  {% block index %}  
  <header>
        <div class="container-fluid " style="height: 20px;">
            <div class="bg-dark row ">
                <div class="col-md-6 col-6">
                    <small class="text-light">IND</small>
                </div>
                <div class="col-md-6 col-6">
                    <ul class="d-flex  list-unstyled justify-content-end">
                        <li ><a class="text-light" href="/#about"><small>About Us</small></a></li>
                        <li class=" mx-3"><a class="text-light" href="{% url 'contacts' %}"><small>Contact Us</small></a></li>
                {% if not user.is_authenticated %}
                <li><a class=" text-success" href="{% url 'signup' %}"><small>SignUp</small></a></li>
                {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- navBar starts -->
        <nav class=" navbar navbar-expand-lg navbar-light bg-light  ">
            <a class="navbar-brand text-dark font-weight-bold" href="#">skateZstore</a>

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
              <ul class=" navbar-nav mr-auto">
                <li class="nav-item active ">
                  <a class="nav-link text-dark" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Products
                  </a>
                  <div class="dropdown-menu prod-dropdown">
                    <a class="dropdown-item" href="/prod_deck">Deck</a>
                    <a class="dropdown-item" href="/prod_wheel">Wheels</a>
                    <a class="dropdown-item" href="/prod_trucks">Trucks</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="/#blog">Blogs</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 mr-auto" method="" action="{% url 'search' %}">
              {% csrf_token %}
              <input name="search" class="form-control mr-sm-2" id="tags" type="search" placeholder="Search" aria-label="Search" onclick="search_suggestion()">
              <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
              <ul class="navbar-nav ">
                <li style="text-decoration: none;" class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'user_details' %}"><i class="fa-solid fa-user"></i> 
                    {% if user.is_authenticated %}
                    &nbsp;{{user}}
                    {% endif %}
                  </a>
                  <!-- <a class="nav-link text-light" href=""><i class="fa fa-heart" aria-hidden="true"></i></a> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true">
                    {% if user.cart_set.count > 0 %}
                    <div class="badge badge-warning">{{user.cart_set.count}}</div>
                    {% else %}
                    <div class="badge badge-warning"></div>
                    {% endif %}
                  </i></a>
                </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gears"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'user_orders' %}">Orders</a>
                    <a class="dropdown-item" href="{% url 'LogOut' %}">LogOut</a>
                  </div>
                </li>
                {% endif %}

              </ul>
            </div>
          </nav>
        <!-- navBar ends -->
    </header>

    {% block content %}
    {% endblock %}


  <!-- footer start -->
  <footer class="pb-3 bg-dark  info_section">
    <div class=" container">
      <div class="row info_main_row">
        <div class="pt-2 col-md-6 info_col">
          <div class="text-secondary info_form">
            <h5 style="color: rgba(236, 240, 236, 0.6);">Newsletter</h5>
            <form action="#">
              <input type="text" class="form-control" placeholder="Enter Your Email" />
              <a href=""><button disabled class="mt-2 btn btn-outline-secondary " type="button">Subscribe</button></a>
            </form>
          </div>
        </div>
        <div  class="text-secondary  pt-2 col-md-6 col-lg-3 mx-auto info_col">
          <h5 style="color: rgba(236, 240, 236, 0.6);">Connect With Us</h5>
          <div class="info_contact">
            <a style="text-decoration: none;" target="_blank" class="" href="https://goo.gl/maps/edJ9Q6EEWGH3oHcJ6">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Location</span>
            </a>
            <a style="text-decoration: none;" href="tel:+917012983899">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>+91 7012983899</span>
            </a>
          </div>
          <a style="text-decoration: none;" href="mailto:fayasmuthalib@gmail.com">
              <i class="fa fa-envelope"></i>
              <span>fayasmuthaleef@gmail.com</span>
            </a>
          <div class=" mt-2 social_box">
            <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/fay.man.923/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a style="text-decoration: none;" target="_blank" href="https://twitter.com/fayasmuthalib">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/__fayas_muthaleef__/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="text-danger" style="text-decoration: none;" target="_blank" href="https://www.linkedin.com/in/fayas-p-a-328748142?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUZ2dMSnMR%2Fi%2BFMZII8sCRQ%3D%3D">
              &nbsp;&nbsp;<i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="p-0 col-md-12 col-12 d-flex justify-content-end">
          <small class="font-weight-bold font-italic text-light"><i class="fa-regular fa-copyright"></i>&nbsp;FayasMuthaleef&nbsp;&nbsp;</small>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer end -->
  {% endblock %}