{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="h-100 pb-5">
  <div class="d-flex justify-content-center text-dark navbar heading_container heading_center">
    <h2 class="text-dark font-weight-bold">Decks</h2>
  </div>

  <div class="product container-fluid">
    <div class="row d-flex justify-content-center">
      {% for product in products %}
      <div style="border-radius: 15px; background: rgba(236, 240, 236, 1)" class=" card col-md-4 col-5" >
        <div class="d-flex justify-content-center">
          <img style="border: none;height: 12rem;" class='mx-auto img-thumbnail' src="{{product.product_image.url}}"
            width="auto" height="auto" />
          <div style="position: absolute;right: 3%;top: 2%;">
            {% if product.product_offer > 0 and product.category_offer > 0 %}
            {% if product.product_offer > product.category_offer %}
            <div>
              <button class="btn btn-sm btn-success">{{product.product_offer}}&nbsp;% Off</button>
            </div>
            {% else %}
            <div>
              <button class="btn btn-sm btn-success">{{product.category_offer}}&nbsp;% Off</button>
            </div>
            {% endif %}
            {% elif product.product_offer > 0 and product.category_offer is 0 %}
            <div>
              <button class="btn btn-sm btn-success">{{product.product_offer}}&nbsp;% Off</button>
            </div>
            {% elif product.product_offer is 0 and product.category_offer > 0 %}
            <div>
              <button class="btn btn-sm btn-success">{{product.category_offer}}&nbsp;% Off</button>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card-body ">
          <div class='cvp d-flex flex-column justify-content-center align-items-center'>
            <h5 class="card-title font-weight-bold">{{product.product_name}}</h5>

            {%if product.product_offer_price < 1 and product.category_offer_price < 1 %} <span class="d-flex stext-105 ">
              ₹{{product.product_price}}
              </span>

              {%elif product.product_offer_price > 1 and product.category_offer_price is 0 %}
              <span class="d-flex stext-105" style="color:rgb(52, 151, 52);">
                ₹{{product.product_offer_price}} &nbsp;
                <del style="color:rgb(240, 94, 94);">₹{{product.product_price}}</del>
              </span>

              {%elif product.product_offer_price < 1 and product.category_offer_price > 1 %}
                <span class="d-flex stext-105" style="color:rgb(52, 151, 52);">
                  ₹{{product.category_offer_price}} &nbsp;
                  <del style="color:rgb(240, 94, 94);">₹{{product.product_price}}</del>
                </span>

                {%elif product.product_offer_price < product.category_offer_price and product.category_offer_price > 1 %}
                  <span class="d-flex stext-105" style="color:rgb(52, 151, 52);">
                    ₹{{product.product_offer_price}} &nbsp;
                    <del style="color:rgb(240, 94, 94);">₹{{product.product_price}}</del>
                  </span>

                  {%elif product.category_offer_price < product.product_offer_price and product.product_offer_price > 1
                    %}
                    <span class="d-flex stext-105" style="color:rgb(52, 151, 52);">
                      ₹{{product.category_offer_price}} &nbsp;
                      <del style="color:rgb(240, 94, 94);">₹{{product.product_price}}</del>
                    </span>

                    {%elif product.category_offer_price == product.product_offer_price and product.product_offer_price > 1 and product.category_offer_price > 1 %}
                    <span class="d-flex stext-105" style="color:rgb(52, 151, 52);">
                      ₹{{product.product_offer_price}} &nbsp;
                      <del style="color:rgb(240, 94, 94);">₹{{product.product_price}}</del>
                    </span>
                    {%else%}
                    {%endif%}

                    <!-- <p class="card-text">₹&nbsp;{{product.product_price}}</p> -->

                    <div>
                      <a href="{% url 'prod_details' product.id %}" style="box-shadow: 0px 0px 15px #212121;"
                        class="font-weight-bold btn bg-dark text-light px-3">view details</a><br />
                    </div>
                    <br />
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>

  <!-- Pagination  starts -->
  <br>
  <div class="container-fluid d-flex justify-content-center">
    {% if products.has_previous %}
    <a href="?page={{products.previous_page_number}}"><button
        class="btn btn-dark">{{products.previous_page_number}}</button></a>
    {% endif %}
    &nbsp;<button disabled class="btn btn-light">{{products.number}}</button>
    {% if products.has_next %}
    <a href="?page={{products.next_page_number}}">&nbsp;<button
        class="btn btn-dark">{{products.next_page_number}}</button></a>
    {% endif %}
  </div>
  <!-- pagination ends -->
</section>


<div class='container-fluid'>


</div>


{% endblock %}